<p style="margin-top:0;margin-bottom:0;font-size:16px;line-height:24px;font-family:PT Sans,Trebuchet MS,sans-serif;font-weight:bold;" lang="x-size-16">SILOA has published a notice which may warrant your attention</p>
<p style="margin-top:5px;margin-bottom:0;font-size:16px;line-height:24px;font-family:PT Sans,Trebuchet MS,sans-serif;" lang="x-size-16"><strong>Subject :</strong> {{name}}</p>
<p style="margin-top:5px;margin-bottom:0;font-size:16px;line-height:24px;font-family:PT Sans,Trebuchet MS,sans-serif;" lang="x-size-16"><strong>Dates affected :</strong> {{formatDate startDate}} <strong>to :</strong> {{formatDate endDate}}</p>
<p style="margin-top:5px;margin-bottom:0;font-size:16px;line-height:24px;font-family:PT Sans,Trebuchet MS,sans-serif;" lang="x-size-16">{{{description}}}</p>
 <p style="margin-top:0;margin-bottom:0;font-size:16px;line-height:24px;font-family:PT Sans,Trebuchet MS,sans-serif;" lang="x-size-16">
    <a style="text-decoration:underline;color:#b31b1b" href="{{domain}}/notices" target="_blank" label="Open Notices" >Open Notices in the site.</a>
</p>