{{!< default}}
	<h3>Blog</h3>
			<h4 class="text-weight-normal">Showing {{ data.posts.length}} posts.</h4>
            <h4 class="text-weight-normal"><a href="/blog/create" class="link">Submit a blog</a></h4>
			<div class="blog">
				{{# each data.posts}}
                <div class="panel panel-primary">
                    <div class="panel-heading"> 
                        <h3 class="panel-title"><a href="{{postUrl ../section slug}}">{{{title}}}</a></h3> 
                    </div> 
                    <div class="panel-body"> 
                       <p class="lead text-muted">
							{{#if author.name.first}}by {{author.name.first}} {{author.name.last}}{{/if}}
					   </p>
                        <p>{{{content.brief}}}</p>
					<p class="read-more"><a href="{{postUrl ../section slug}}">Read more...</a></p>
                    </div> 
                </div>
				{{/each}}
                
			</div>
	{{>pagination}}