{{!< default}}
	<h3>My Requests.</h3>
    <h4 class="text-weight-normal">Showing {{ data.requests.length}} requests.</h4>
            <h4 class="text-weight-normal"><a href="/createrequest" class="link">Create a request</a></h4>
			<div class="blog">
				{{# each data.requests}}
                <div class="panel panel-primary">
                    <div class="panel-heading"> 
                        <h3 class="panel-title">{{{requestType}}}</h3> 
                    </div> 
                    <div class="panel-body"> 
                       <p class="text-muted">
							<strong>Status : </strong> {{state}}
					   </p>
                        <p class="text-muted">
							<strong>Submitted date : </strong> {{formatDate requestDate}}
					   </p>
                    <p><strong>Description : </strong><br/>{{{description}}}</p>
                    {{#ifeq state 'Open'}}
                        <p class="read-more"><a href="/deleterequest/{{_id}}" class="btn btn-danger btn-raised deletebutton" role="button">Close this request</a></p>
                    {{/ifeq}}
                    </div> 
                </div>
				{{/each}}
                
			</div>
	{{>pagination}}
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="myModalLabel">Confirmation Alert!!</h3>
      </div>
      <div class="modal-body" id="myModalBody">
          Are you sure about closing this advert?
      </div>
      <div class="modal-footer">
        <button class="btn btn-default btn-raised"  data-dismiss="modal">Cancel</button><button class="btn btn-primary btn-raised"><a href="#" id="okBtn">OK</a></button>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
        $('.deletebutton').on('click',function(ev){
             $('#confirmModal').modal({
                show: 'true'
            }); 
            $('#okBtn').attr('href',$(this).attr('href'));
            ev.preventDefault();
        });
        
    });    
</script>